#onglets {
  margin-top: 3%;
  margin-bottom: 3%;
}

#onglets div {
  display: inline-block;
  background-color: lightgrey;
  padding: 1%;
  cursor: pointer;
}

#liste li {
  list-style-type: none;
}

#formatTableau {
  border: 2px solid white;
}

#formatListe {
  margin-right: 15%;
  margin-left: 15%;
}

table tr td , table tr th{
  border: 1px solid black;
}

.modal {
  border: 5px solid #4A4A4A;
	width: 33%;
	height: 28%;
	position: fixed;
	background-color: #DCDCDC;
	display: none;
	top: 30%;
  left: 30%;
	z-index: 100;
	padding: 20px;
}

.modalUtil {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 99;
	display: none;
}

.croix {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 10px;
  height: 10px;
  background-color: lightgrey;
  font-weight: 500;
}
